Flask == 2.1.2              # Flask MVC
pandas == 1.4.2             # File manipulation
python-dateutil == 2.8.2    # Fields normalization
scikit-learn == 1.1.1       # To encode strings
ipdb == 0.13.9              # For Python debugging
psycopg2-binary === 2.9.3   # For postgresql
